* {
  box-sizing: border-box;
  margin: 2px;
  padding: 1px;
}

body {
  font-family: 'Quicksand', sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  color: black;
  background-image: auto;
}

#time {
  font-size: 32px;
  color: burlywood;
}

h1 {
  margin-bottom: 2px;
}

h2 {
  margin-bottom: 0rem;
  opacity: 0;
}

li {
  list-style-type: none;
  /*this removes the bullet point from list*/
  padding: 5px;

}



#time {
  font-size: 32px;
  color: burlywood;
}

a:hover {
  background-color: white;
}

@media (max-width: 700px) {
  #time {
    font-size: 16px;
  }
}